{% extends 'user/index.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <!-- header starts -->
            <div class="header mb-3">
                <nav class="navbar navbar-expand-lg" style="display: flex; justify-content: space-between;">
                    <h1 style="color: #13d664; font-family: 'Poppins', sans-serif;">Fanconvo</h1>
                    <div>
                        <ul style="display: flex;" class="mb-2 mb-lg-0">
                            <a class="nav-link" href="#">Sign Up</a>
                            <a class="nav-link" href="#">Login</a>
                        </ul>
                    </div>
                </nav>

                <div style="font-size: 0.8em;" class="text-white">A marketplace for conversations, mentorship and
                    performance</div>

                    <!-- search bar -->
                <div class="text-white mt-3 searchBar">Search New Talent <input type="text"
                        id="searchQueryInput"><button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                        <i style="color: #13d664;" class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <!-- header ends -->
            <!-- form container -->
            <div class="form-div">
                <div style="max-width: 60%;" class="container">
                    <!-- form switching buttons -->
                    <div class="buttons rounded-pill p-1"
                        style="background-color: black; width: fit-content; margin: 0 auto; display: flex;">
                        <a type="button" onclick="getFanForm()" id="fan-button"
                            style="background-color: #13d664; font-size: 0.7em;" class="btn rounded-pill text-white">FAN
                            SIGNUP</a>
                        <a type="button" onclick="getTalentForm()" id="talent-button" style="font-size: 0.7em;"
                            class="btn rounded-pill text-white">TALENT SIGNUP</a>
                    </div>
                    <div id="headline" class="h5 text-white text-center mt-5">CREATE YOUR FAN ACCOUNT</div>
                    
                    <!-- Fan account form starts -->
                    <form class="text-white" id="fan-form" style="margin-top: 3em;"> {% csrf_token %}
                        <div class="form-group">
                            <label for="first-name">First name*</label>
                            <input type="text" class="form-control" placeholder="First name" name="fanFirstname"
                                id="fanFirstname" maxlength="10">
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last name*</label>
                            <input type="text" class="form-control" placeholder="Last name" id="fanLastname"
                                name=fanLastname maxlength="10">
                        </div>
                        <div class="form-group">
                            <label for="username">Username*</label>
                            <small style="display: none;" id="fan-error" class="text-danger">This username already
                                exists</small>
                            <input type="text" class="form-control" placeholder="Username" id="fanUsername"
                                name="fanUsername">
                        </div>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" placeholder="Email" id="fanEmail" name="fanEmail">
                        </div>
                        <div class="form-group">
                            <label for="timezone">Timezone*</label>
                            <select class="form-control text-white" name="fanTimezone" id="fanTimezone" required>
                                <option value="PST8PDT-6am">PST8PDT-6am</option>
                                <option value="PST8PDT-6am">PST8PDT-6am</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password">Password*</label>
                            <input type="password" class="form-control" id="fanPassword" name="fanPassword"
                                placeholder="Password" maxlength="18" minlength="8" required>
                        </div>

                        <div class="row">
                            <div class="text-center">
                                <label style="width: 100%;">
                                    <input style="background-color: #13d664;" name="fanCheckbox"
                                        class="form-check-input" type="checkbox" required> I agree to the <span
                                        style="color: #13d664;">Terms and Conditions</span>
                                </label>
                                <button type="button" onclick="fanSignup()"
                                    style="background-color: #13d664; width: 70%" class="btn rounded-pill">SIGN
                                    UP</button>
                                <div style="font-size: 0.7em; ">Already have an account? <span
                                        style="color: #13d664;">Login</span></div>
                            </div>
                        </div>
                    </form>
                    <!-- fan form ends -->
                    <!-- talent form starts -->
                    <form class="text-white" id="talent-form" style="display: none; margin-top: 3em;">
                        <div class="form-group">
                            <label for="first-name">First name*</label>
                            <input type="text" class="form-control" placeholder="First name" name="talentFirstname"
                                id="talentFirstname" maxlength="10" required>
                        </div>
                        <div class="form-group">
                            <label for="last-name">Last name*</label>
                            <input type="text" class="form-control" placeholder="Last name" id="talentLastname"
                                name=talentLast-name maxlength="10" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username*</label>
                            <small style="display: none;" id="talent-error" class="text-danger">This username already
                                exists</small>
                            <input type="text" class="form-control" placeholder="Username" id="talentUsername"
                                name="talentUsername" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" placeholder="Email" id="talentEmail"
                                name="talentEmail" required>
                        </div>
                        <div class="form-group">
                            <label for="timezone">Timezone*</label>
                            <select class="form-control text-white" name="talentTimezone" id="talentTimezone" required>
                                <option value="PST8PDT-6am">PST8PDT-6am</option>
                                <option value="PST8PDT-6am">PST8PDT-6am</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password">Password*</label>
                            <input type="password" class="form-control" id="talentPassword" name="talentPassword"
                                placeholder="Password" maxlength="18" minlength="8" required>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <label style="width: 100%;">
                                    <input style="background-color: #13d664;" name="talentCheckbox"
                                        class="form-check-input" type="checkbox" required> I agree to the <span
                                        style="color: #13d664;">Terms and Conditions</span>
                                </label>
                                <button type="button" onclick="talentSignup()"
                                    style="background-color: #13d664; width: 70%" class="btn rounded-pill">SIGN
                                    UP</button>
                                <div style="font-size: 0.7em; ">Already have an account? <span
                                        style="color: #13d664;">Login</span></div>
                            </div>
                        </div>
                    </form>
                    <!-- talent form ends -->
                </div>
            </div>

            <!-- footer starts -->
            <div class="footer-div">
                <div class="row mt-5">
                    <div class="col-5">
                        <h1 style="color: #13d664;font-family: 'Poppins', sans-serif;">Fanconvo</h1>
                    </div>
                    <div class="col-3">
                        <small class="mt-2" style="font-size: small;">How fanconvo works?</small>
                    </div>
                    <div class="col-2">
                        <small style="font-size: small;">Terms of use</small>

                    </div>
                    <div class="col-2">
                        <small style="font-size: small;">Contact Us</small>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <small style="font-size: small;">© 2020 fanconvo</small>
            </div>
            <!-- footer ends -->
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    //====== fan signup ajax======
function fanSignup() {
    let isvalid = $('#fan-form').valid();
    if (isvalid) {
        let fanFirstname = $('#fanFirstname').val();
        let fanLastname = $('#fanLastname').val();
        let fanUsername = $('#fanUsername').val();
        let fanEmail = $('#fanEmail').val();
        let fanPassword = $('#fanPassword').val();
        let fanTimezone = $('#fanTimezone').val();
        var data = {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'fanFirstname': fanFirstname,
            'fanLastname': fanLastname,
            'fanUsername': fanUsername,
            'fanEmail': fanEmail,
            'fanPassword': fanPassword,
            'fanTimezone': fanTimezone
        };
        console.log(data)
        $.ajax({
            url: "/fan-sign-up/",
            method: 'POST',
            data: data,
            dataType: 'json',
            success: function (data) {
                if (data == 'false') {
                    $('#fan-error').show()
                }
                if (data == 'true') {
                    window.alert('Form submitted successfully')
                    window.location.reload()
                }
            }
        })
    }
}
</script>
<script>
    // ====talent signup ajax====
function talentSignup() {
    let isvalid = $('#talent-form').valid();
    if (isvalid) {
        let talentFirstname = $('#talentFirstname').val();
        let talentLastname = $('#talentLastname').val();
        let talentUsername = $('#talentUsername').val();
        let talentEmail = $('#talentEmail').val();
        let talentPassword = $('#talentPassword').val();
        let talentTimezone = $('#talentTimezone').val();
        let data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'talentFirstname': talentFirstname,
            'talentLastname': talentLastname,
            'talentUsername': talentUsername,
            'talentEmail': talentEmail,
            'talentPassword': talentPassword,
            'talentTimezone': talentTimezone
        };
        $.ajax({
            url: '/talent-sign-up/',
            method: 'POST',
            data: data,
            dataType: 'json',
            success: function (data) {
                if (data == 'false') {
                    $('#talent-error').show()
                }
                if (data == 'true') {
                    window.alert('Form submitted successfully')
                    window.location.reload()
                }
            }
        })
    }
}
</script>
{% endblock %}